/Bucci-Source/Saves/latest.bsg
#/build-Bucci-Source-Desktop_Qt_5_4_0_MinGW_32bit-Debug/
/build-Bucci-Source-Desktop_Qt_5_4_1_MinGW_32bit-Debug/

build-Bucci-Source-Desktop_Qt_5_4_0_MinGW_32bit-Debug/
Bucci-Source/Data/stats.bdf
Bucci-Source/Saves/latest.txt
Bucci-Source/buccigame.cpp.autosave
Bucci-Source/card.cpp.autosave
Bucci-Source/Data/settings.bdf
Bucci-Source/Data/stats.txt
